server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:mem:fintrack_db;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  application:
    name: fintrack-backend
jwt:
  secret: "replace_this_with_a_long_random_secret_for_prod" # change in prod (env var)
  expiration-ms: 900000 # 15 minutes

logging:
  level:
    root: INFO
